.App {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100vh;
}

.TextSection {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  color: #FFFFFF;
}

.GridContainer {
  display: flex;
  flex: 8;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/background.jpg');
}

.Grid {
  display: grid;
  height: 90%;
  width: 75%;
  grid-template-columns: 1fr 1fr;
}

.Item {
  border-radius: 50px;
  background-color: #770000;
  opacity: 0.8;
  width: 95%;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Item:hover {
  background-color: #770000;
  color: #FFFFFF;
  opacity: 1;
  transition: 0.3s ease-in;
}
